.content {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  margin: 0 auto;
  .form-content {
    display: flex;
    flex-direction: column;
    .form-title {
      text-align: center;
    }
    .form-input {
      .input-group {
        // display: flex;
        // justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 110px;
        label {
          margin: auto;
          margin-left: 0px;
          font-weight: 6;
          width: 100px;
        }
        input {
          border: 0.5px solid #eaeaeaaf;
          margin-left: 50px;
          width: 300px;
          height: 30px;
          &:focus-visible {
            outline: none;
          }
        }
      }
    }
    .captcha {
      margin-left: 200px;
    }
    .form-button {
      display: flex;
      width: 100%;
      justify-content: center;
      visibility: hidden;
      button {
        margin-top: 20px;
        margin-left: -90px;
        background-color: #3b7ac2;
        padding: 7px 20px;
        color: white;
        border: none;
      }
    }
  }
}
