* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1320px;
  font-family: 'Times New Roman', Times, serif;
  .content {
    // width: 100%;
    height: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    // margin: 0 auto;
    .form-content {
      padding-bottom: 70px;
      border: 1px solid #000000;
      background-color: #f7f7f7;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      .form-title {
        text-align: center;
        #Dung {
          padding: 20px;
          font-size: 32px;
        }
        #Quan {
          padding: 10px;
        }
      }
      .form-input {
        // text-align: center;
        .input-guide {
          font-size: 17px;
          margin-top: 10px;
          margin-left: 210px;
        }
        .input-group {
          margin-top: 10px;
          margin-bottom: 20px;
          margin-left: 110px;
          display: flex;
          // width: 100%;
          .input-form{
            #msg {
              color: red;
              font-style: italic;
              font-size: 13px;
              margin-left: 270px;
              visibility: hidden;
            }
            label {
              margin-left: 100px;
            }
            input {
              border: 0.5px solid #eaeaeaaf;
              padding: 2px;
              margin-left: 40px;
              width: 220px;
              height: 30px;
              &:focus-visible {
                outline: none;
              }
              &:invalid{
                outline: 2px solid red;
                border-radius: 6px;
              }
              &:valid{
                outline: 2px solid green;
                border-radius: 6px;
              }
            }
          }
          .reload {
            margin-top: 20px;
            // padding-top: 20px;
            a {
              i {
                // padding-left: 5px;
                margin-left: 5px;
              }
            }
          }
        } 
      }
      .captcha {
        margin-left: auto;
        margin-right: auto;
      }
      .form-click {
        display: flex;
        justify-content: center;

        .form-button {
          margin: 10px 20px;
          visibility: hidden;
          button {
            background-color: #5cb85c;
            padding: 7px 20px;
            color: white;
            font-weight: 1000;
            border: none;
            cursor: pointer;
          }
        }
        .form-next {
          margin: 10px 0px;
          button {
            background-color: #5cb85c;
            padding: 7px 20px;
            color: white;
            font-weight: 1000;
            border: none;
            cursor: pointer;
          }
        }
      }
      .form-score {
        #score {
          visibility: hidden;
          margin-left: 25px;
          font-size: 19px;
          font-weight: 700;
        }
        #data-form {
          margin-left: 25px;
          font-size: 18px;
          word-spacing: 3px;
        }
      }
      @media (max-width: 1000px) {
        .form-input{
          width: 100%;
          // border: 2px solid violet;
          .input-guide{
            margin-left: 80px;
            // border: 2px solid violet;
          }
          .input-group{
            // display: flex;
            // margin-bottom: 50px;
            // border: 2px solid salmon;
            .input-form{
              // border: 2px solid gold;
              height: 100px;
            }
            label{
              margin-left:10px;
              // margin-bottom: 20px;
              font-size: 20px;
              // padding-top: 60px;
            }
            input{
              width: 50px;
            }
        
          }

        }
      }
      @media (max-width: 640px) {
        .form-input{
          width: 100%;
          // border: 2px solid violet;
          height: 120px;
          // text-align: center !important;
          .input-guide{
            margin-left: 0px;
            // border: 2px solid violet;
          }
          .input-group{
            // display: flex;
            margin-left:80px ;
            // margin-bottom: 50px;
            // border: 2px solid salmon;
            .input-form{
              // border: 2px solid gold;
              height: 65px;
              margin-left: 0px !important;
            }
            #msg{
              // margin-left: none;
              margin-left: 0px !important;                           
            }
            label{
              margin-left:0px !important;
              // margin-bottom: 20px;
              font-size: 16px !important;
              // padding-top: 60px;
            }
            input{
              margin-left: 10px !important;
              width: 100px !important;
            }
        
          }
        }
      }
    }
  }
}
