*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
}
.nav-footer{
    background-color: #3B8BCC;
    .container{
        max-width: 1320px;
        margin: 0 auto;
        .footer{
            display: flex;
            .footer-title{
                font-size: 23px;
                color: white;
                line-height:50px;
            }
            .footer-icon{
                list-style-type: none;
                font-size: 17px;
                color:white;
                li{
                        line-height: 30px;
                }
            
                span{
                    margin-left: 10px;
                }
            }
        }
    }
}