@import 'media';
.container {
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  .Statis {
    width: 100%;
    text-align: center;
    display: inline-block;
    transition: 2s;
    @include xs {
      width: 320px;
      height: 100%;
    }
    @include sm {
      width: 560px;
      height: 100%;
    }
    @include md {
      width: 720px;
      height: 100%;
    }
    @include lg {
      width: 900px;
      height: 100%;
    }
    @include xl {
      width: 1300px;
      height: 100%;
    }
    .subject {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      .sub {
        width: 10%;
        border: 2px solid #65a87d;
        // padding: 0.5rem 0.5rem;
        margin: 0px 3px;
        padding: 8px;
        transition: all 1s;
        color: black;
        background-color: #ffffcc;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        // float: left;
        &:hover {
          background-color: #9acd32;
          border-radius: 15px;
        }
      }
      @media (max-width: 1000px) {
        .sub {
          width: 25%;
        }
      }
      @media (min-width: 570px) {
        .sub {
          font-size: 20px;
        }
      }
    }
    .column {
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 25px;
      color: #43655a;
      //   background-color: #ff3f34;
      background-color: #f7f7f7;
      margin-bottom: 20px;
      padding: 10px 20px;
      @include xs {
        font-size: 18px;
      }
      @include sm {
        font-size: 22px;
      }
      @include md {
        font-size: 25px;
      }
      @include lg {
        font-size: 30px;
      }
    }

    .phodiem {
      color: #333;
      // border: 2px solid black;
      margin-top: 40px;
      padding-top: 20px;
      padding-bottom: 0.5px;
      font-size: 25px;
      text-align: center;
    }
    .barchart {
      color: #4b4b4b;
      background-color: #ffffff;
      font-size: 18px;
      width: 100%;
      height: 550px;
      border: 1px solid rgb(194, 191, 191);
      box-shadow: 1px 2px 4px 2px rgba($color: #333, $alpha: 0.5);
      margin-bottom: 30px;
      margin-top: 10px;
    }
  }
}