@import 'media';
.container {
  max-width: 1320px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  //text-align: center;
  .Statis {
    text-align: center;
    display: inline-block;
    transition: 2s;
    @include xs {
      width: 320px;
      height: 100%;
    }
    @include sm {
      width: 560px;
      height: 100%;
    }
    @include md {
      width: 720px;
      height: 100%;
    }
    @include lg {
      width: 900px;
      height: 100%;
    }
    @include xl {
      width: 1100px;
      height: 100%;
    }
    .dropdown {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .dropdown-content {
        margin-right: 10px;
        font-weight: bold;
        outline: none;
        border: none;
        background-color: none;
        border: 2px solid #a8a4a4;
        border-radius: 5px;
        padding: 8px 10px;
        font-family: 'Poppins', sans-serif;
        option {
          background-color: white;
        }
        @include xs {
          font-size: 12px;
        }
        @include sm {
          font-size: 15px;
        }
        @include md {
          font-size: 16px;
        }
        @include lg {
          font-size: 17px;
        }
      }
    }
    .column {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 25px;
      color: #43655a;
      //   background-color: #ff3f34;
      background-color: #f7f7f7;
      margin-bottom: 20px;
      padding: 10px 20px;
      @include xs {
        font-size: 18px;
      }
      @include sm {
        font-size: 22px;
      }
      @include md {
        font-size: 25px;
      }
      @include lg {
        font-size: 30px;
      }
    }
    .barchart {
      color: #4b4b4b;
      background-color: #ffffff;
      font-size: 18px;
      width: 100%;
      height: 450px;
      border: 1px solid rgb(194, 191, 191);
      box-shadow: 1px 2px 4px 2px rgba($color: #333, $alpha: 0.5);
      margin-bottom: 50px;
    }
  }
}
// *, *::after,*::before{
//     padding:0;
//     margin: 0;
//     box-sizing: border-box;
// }
// ul ,ol{
//     list-style: none;
// }
// a{
//     text-decoration: none;
// }
// img{
//     display: block;
// }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button{
//     -webkit-appearance:none;
//     margin:0;
// }
// input[type= number]{
//     -moz-appreance:textfield;
// }
